.*.swp
.*.swo
*.o
*.so
*.bcpp
*.bchpp
test1
test2
*.cmake
*.make
*.internal
*.includecache
CMakeFiles/*
CMakeCache.txt
install_manifest.txt
TestResult.txt
.*.sw[po]
Test7Zip/test.*
Makefile
7z.dll
*.a
*.dll
*.pyc
*.exe
